<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update_Task</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />
</head>
<body>

    <div class="flex flex-col bg-purple-500 rounded-r-3xl text-white md-5 mb-8">
        <div class="flex items-center h-20 shadow-md mx-5">
            <h1 class="text-3xl uppercase">TO-DOS</h1>
        </div>
    </div>

    <form method="POST" action="{% url 'todo:update_task' task.id %}" class="max-w-2xl mx-auto mt-8 p-8 bg-white rounded-lg shadow-md">
        {% csrf_token %}

        <div class="mb-4">
            <label class="block text-purple-500 text-sm font-bold mb-2" >
                Task Title
            </label>
            {{ form.title }}
        </div>

        <div class="mb-4 flex items-center">
            <label class="block text-purple-500 text-sm font-bold mb-1 mr-2" >
                Complete
            </label>
            {{ form.complete }}
        </div>

        <button type="submit" class="bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" name="Update Task">
            Update Task
        </button>
    </form>

</body>
</html>